<section class="billboard">

<div class="caption">
	<h1>{{title}}</h1>
	<p>We always value your words.</p>
	<hr>
</div>

<div class="shadow"></div>
</section>

	<section class="services wrapper">
		<ul class="clearfix" style="margin-left:25%;" >	
			
			</li-->
			<li >
				<div style="margin-left:75%;">
				<img class="icon" src="img/support.png" style="margin-left:8%;" alt="contact us" />
				<span class="separator" ></span>
				<p></p>
				<h2>How to reach us:</h2>
				<p >Phone No. 09171234567</p>
				<p >Fax:           81234567</p>
				<p >  1234 Ayala Avenue, Makati, Philippines 
				</div>
				<div style="margin-left:32%;">
                {{#each social}}
				<ul class="social-icons " >
    			 <li><a href="{{this.ref}}"><img src='{{this.img}}'/></a></li>
				</ul>
                {{/each}}
				</div>
				<pre>






				</pre>


			</li>
		</ul>
	</section>

    <section class="end">
		<img class="logo" src="img/kslogo.png" style= "margin-left: 42.5%" alt="Karne Sutra Logo" />
	
	</section>