.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* .clearfix {
  *zoom: 1;
} */

.logo {
  width: 15%;
}

.icon {
  width: 84px;
  height: 82px;
}

/*    Billboard    */
.contact-billboard {
  width: 100%;
  height: 400px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(54, 51, 72, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* .contact-billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
} */

.contact-billboard .contact-caption {
  /* margin-top: 130px; */
  text-align: center;
  color: #fff;
}

.contact-billboard .contact-caption h1 {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
}

.contact-billboard .contact-caption p {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
}

.contact-billboard .contact-caption hr {
  display: inline-block;
  height: 1px;
  width: 30px;
  border: 0 !important;
  margin: 0;
  padding: 0;
  background: #fff;
}
.contact-details {
  text-align-last: center;
  padding: 100px 0px;
  color: #616161;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 18px;
  /* font-weight: bold; */
}
/*header*/
/* header {
  width: 100%;
  height: 125px;
}

header .logo {
  float: left;
  margin-top: 50px;
  width: 10%;
}

header nav {
  float: right;
  margin-top: 57px;
}

header nav ul li {
  list-style: none;
  display: block;
  float: left;
  margin-left: 50px;
}

header nav ul li a {
  text-decoration: none;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 14px;

  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

header nav ul li a:hover {
  color: #b9b9b9;
} */

/*Contact Services*/
.contact-services ul {
  margin: 100px 0px;
}

.contact-services ul li {
  list-style: none;
  float: left;
  margin-left: 80px;
  text-align: center;
}

.contact-services ul li h2 {
  color: #616161;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.contact-services ul li p {
  color: #838181;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin-top: 40px;
  letter-spacing: 0.5px;
}

.contact-services ul li pre {
  color: #838181;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin-top: 40px;
  letter-spacing: 0.5px;
}

.contact-social-icons li {
  display: inline-block;
}

.social-icons li img {
  width: 25px;
  height: 25px;
  margin-left: 10%;
}

/*    footer    */

/* .end {
  background-color: #363348;
}

footer {
  padding: 35px 0;
  overflow: hidden;
}

footer .rights p {
  float: left;
  color: #838181;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin: 5px 0 0 40px;
} */
