/*    footer    */
footer {
  padding: 35px 0;
  overflow: hidden;
  background-color: #363348;
}
.footer-logo {
  text-align-last: center;
}
.footer-tagline {
  color: white;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  padding: 20px 0px;
}

footer .footer-rights p {
  /* float: left; */
  text-align-last: center;
  color: #838181;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 13px;
  /* margin: 5px 0 0 40px; */
}
