.billboard {
  /* width: 100%;
  height: 400px;
  position: relative; */
  background-color: #363348;
}
.wrapper {
  padding: 5px 100px;
}
.nav-item {
  padding-left: 30px;
}
.nav-link {
  color: white !important;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
}
