/*    Billboard    */
.reserve-billboard {
  width: 100%;
  height: 400px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(54, 51, 72, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

.reserve-billboard .reserve-caption {
  /* margin-top: 130px; */
  text-align: center;
  color: #fff;
}

.reserve-billboard .reserve-caption h1 {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #fff;
}

.reserve-billboard .reserve-caption p {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff;
}

.reserve-billboard .reserve-caption hr {
  display: inline-block;
  height: 1px;
  width: 30px;
  border: 0 !important;
  margin: 0;
  padding: 0;
  background: #fff;
}

.reserve-section {
  padding: 100px 0px;
}

.reserve-title {
  text-align: center;
  overflow: hidden;
  color: #616161;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
.reserve-title-text {
  font-size: 20px;
  font-weight: bold;
}
.reserve-verticalLine {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  height: 100%;
}

.reserve-userProfile-margin {
  margin-bottom: 0px;
}

.reserve-userProfile-image {
  padding: 30px 0px;
}
