<footer>
		<div class="wrapper">
			<div class="rights"style= "margin-left: 13%">
				<p>All Rights Reserved 2020 - Karne Sutra Restaurant | Developed By Marius Laggui, Nicole Planas, Vanessa Pe</p>
			
			</div>
		</div>		
	</footer>