<link rel="stylesheet" type="text/css" href="css/footer.css">

<footer>
	<div class="footer-logo">
		<div>
			<img src="./img/kslogo.png" width="150" height="150" class="d-inline-block align-top" alt="" loading="lazy">
		</div>
		<div class="footer-tagline">
			Let us bring you the ultimate form of pleasure
		</div>
	</div>
	<div class="footer-rights">
		<p>All Rights Reserved 2020 - Karne Sutra Restaurant | Developed By Marius Laggui, Nicole Planas, Vanessa Pe
		</p>
	</div>
</footer>