<section class="billboard">
		<header class="wrapper">
      <img class="logo" src="./img/kslogo.png" alt="Karne Sutra Logo"/>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="menu">Menu</a></li>
					<li><a href="review">Reviews</a></li>
					<li><a href="login">Book a Table</a></li>
					<li><a href="contact">Contact Us</a></li>
				</ul>
			</nav>
		</header>
  <section>

