{{!-- <section class="billboard">
	<header class="wrapper">
		<img class="logo" src="./img/kslogo.png" alt="Karne Sutra Logo" />
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="menu">Menu</a></li>
				<li><a href="review">Reviews</a></li>
				<li><a href="login">Book a Table</a></li>
				<li><a href="contact">Contact Us</a></li>
			</ul>
		</nav>
	</header>
</section> --}}

<link rel="stylesheet" type="text/css" href="css/nav.css">
<section class="nav-billboard">
	<header class="nav-wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="/">
				<img src="./img/kslogo.png" width="150" height="150" class="d-inline-block align-top" alt=""
					loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="menu">Menu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="review">Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="login">Book a Table</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</section>