<link rel="stylesheet" type="text/css" href="css/contact.css">
<section class="contact-billboard">
	<div class="contact-caption">
		<h1>{{title}}</h1>
		<p>We always value your words.</p>
		<hr>
	</div>
</section>

<section class="contact-services wrapper">
	{{!-- <div>
		<ul class="clearfix">
			<li> --}}
	<div class="contact-details">
		<img class="icon" src="img/support.png" alt="contact us" />
		<span class="separator"></span>
		<p></p>
		<h2>How to reach us:</h2>
		<p>Phone No. 09171234567</p>
		<p>Fax: 81234567</p>
		<p> 1234 Ayala Avenue, Makati, Philippines </p>
		{{!-- </div> --}}
		{{!-- <div> --}}
		{{#each social}}
		{{!-- <ul class="social-icons "> --}}
		<a href="{{this.ref}}"><img src='{{this.img}}' width="50px" style="padding-right: 10px" /></a>
		{{!-- </ul> --}}
		{{/each}}
	</div>
	{{!-- </li>
		</ul>
	</div> --}}
</section>