<link rel="stylesheet" type="text/css" href="css/login.css">

<section class="login-billboard">
  <div class="login-caption">
    <h1>{{title}}</h1>
    <p>Dine with us.</p>
    <hr>
  </div>

  {{!-- <div class="shadow"></div> --}}
</section>

{{!-- LOGIN/REGISTER --}}
<section class="login-wrapper">
  {{!-- LOGIN --}}
  <div class="card">
    <div class="card-body">
      <form action="/loginUser" method="POST">
        <div class="container">
          <div style="text-align-last: center;">
            <h1 class="card-title">Login</h1>
            <p class="card-subtitle mb-2 text-muted">Welcome!</p>
          </div>
          <hr>

          <label for="email"><b>Email</b></label>
          <input type="email" class="form-control" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>

          <div style="text-align-last: center;">
            <button type="submit" class="login-btn btn btn-success">Login</button>
          </div>
        </div>

        <div class="container login-register">
          {{!-- <p>Don't have an account? <a href="#">Register</a>.</p> --}}
          <p style="margin-bottom: 5px;">Don't have an account? <a
              onclick="document.getElementById('id01').style.display='block'" class="login-register-text">
              <p>Register Here</p>
            </a></p>
        </div>
      </form>
    </div>
  </div>

  {{!-- REGISTER MODAL --}}

  <!-- The Register Modal -->
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close"
      title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/addUser" method="POST">
      {{!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> --}}

      <div class="container">
        <h1>Register</h1>
        <p>Make reservations easier by becoming a patron.</p>
        <hr>

        <label for="firstName"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="firstName" required>

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastName" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="bio"><b>Bio</b></label>
        <input type="text" placeholder="Enter Bio" name="bio" required>

        <label for="dp"><b>Profile Picture</b></label>
        <input type="file" placeholder="Select DP" name="dp" required>

        <label>
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="submit">Register</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>


</section>