<link rel="stylesheet" type="text/css" href="css/menu.css">

<section class="menu-billboard">
	<div class="menu-caption">
		<h1>{{title}}</h1>
		<p>Check out our selection of delicious Indian Cuisine</p>
		<hr>
	</div>

	{{!-- <div class="shadow"></div> --}}
</section>

<div id=mainmenu>
	{{#each food}}
	<img class="menu" src="{{this.img}}">
	{{/each}}
</div>