<link rel="stylesheet" type="text/css" href="css/reserve.css">

<section class="reserve-billboard">
	<div class="reserve-caption">
		<h1>{{title}}</h1>
		<p>Karne Sutra offers a very unique experience so reservations are only available within the month.</p>
		<hr>
	</div>

	{{!-- <div class="shadow"></div> --}}
</section>
<div id="booking" class="reserve-section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="card col-3" style="margin-right: 20px;">
					<div class="card-body">
						<div>
							<button class=" btn btn-danger" type="logout">Logout</button>
						</div>
						<div class="text-center reserve-userProfile-image">
							<img src="img\user1.png" class="rounded" alt="..." width="50%">
						</div>
						<div>
							<p class="reserve-userProfile-margin">Name:</p>
							<p> ADD NAME FROM DB</p>

							<p class="reserve-userProfile-margin">Email:</p>
							<p>ADD FROM DB</p>

							<p class="reserve-userProfile-margin">Contact Information: </p>
							<p>ADD FROM DB (Phase 3)</p>
						</div>
					</div>
				</div>

				<div class="card col">
					<div class="card-body">
						<div class="row">
							<div class="col-5" style="align-self: center;">
								<div class="row">
									{{!-- <div class="col-md-5"> --}}
									<div id="datepicker">
									</div>
									<p style="font-size:12px;">
										For your reference.
									</p>
									{{!-- </div> --}}
								</div>

							</div>
							<div class="col-1">
								{{!-- <div> --}}
								<div class="reserve-verticalLine"></div>
								{{!-- </div> --}}
							</div>
							<div class="col-6">
								{{!-- <div class="col-md-6 col-md-offset-1"> --}}
								<div class="booking-form">
									<form action="/addReservation" method="POST" id="resForm" 
									onsubmit="alert('Thank you for submitting reservation details. Please wait for the restaurant to confirm your reservation.');">
										<div class="reserve-title" style="padding: 20px 0px;">
											<h2 class="reserve-title-text">Book Now</h2>
										</div>

										<div class="row">
											{{!-- <div class="col-md-3 col-sm-6"> --}}
											<div class="form-group">
												<span class="form-label">PAX: </span>
												<input type="number" id="pax" name="pax" min="1" max="10"
													class="form-control">
												<span class="select-arrow"></span>
											</div>
											{{!-- </div> --}}
										</div>
										<div class="row">
											{{!-- <div class="col-md-6"> --}}
											<div class="form-group">
												<span class="form-label">Date: </span>
												<input class="form-control" name="date" type="date" id="date" required>
											</div>
											{{!-- </div> --}}
										</div>
										<div class="row">
											{{!-- <div class="col-md-6"> --}}
											<div class="form-group">
												<span class="form-label">Time: </span> <br>
												<input type="time" id="timeslot" name="timeslot">
											</div>
											{{!-- </div> --}}
										</div>
										<div class="form-btn" style="text-align-last: end;">
											<button type="submit" class=" btn btn-success">
												Book Now
											</button>
										</div>
									</form>
								</div>
								{{!-- </div> --}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>